{% extends "manager/parent.html" %}
{% block content %}
<div class="container">
    <div class="row m-5">
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="{{form.email.html_name}}">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
    </div>
</div>
{% endblock content %}
