{% extends "manager/parent.html" %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <a href="{{back_url}}"><img
            src="https://img.icons8.com/?size=100&id=39815&format=png&color=000000" alt="Logo" width="30"
            height="24"></a>
    </div>
    <div class="row justify-content-center">
        <div class="card m-4">
            <div class="card-body">
                <h5 class="card-title">{{ form_title }}</h5>
                {% if form_status_msg %}
                <div class="alert alert-primary" role="alert">
                    {{form_status_msg}}
                </div>
                {% endif %}
                {% include form_template %}
                
            </div>
        </div>
    </div>
    {% if list_data %}
    <div class="row justify-content-center">
        <div class="card">
            <div class=" card-body">
                <h5 class="card-title">List</h5>
                {% include "manager/edit_list.html" with data=list_data %}
                {% include "manager/pagination.html" with page_data=list_data.page %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}