
{% extends "manager/table.html" %}
{% load custom_tags %}
{% block table_head %}
    <tr>
        {% for head in data.headers %}
        <th scope="col">{{ head }}</th>
        {% endfor %}
    </tr>
{% endblock table_head %}

{% block table_body %}
    {% for row in data.rows %}
    <tr>
        {% for value in row %}
            {% if forloop.last  %}
                <td>
                    {% if data.update_url_name %}
                    <button type="button" onclick="window.location.href='{% d_url data.update_url_name value %}'" class="btn btn-success" >Update</button>
                    {% endif %}
                    {% if data.delete_url_name %}
                    <button type="button" onclick="window.location.href='{% d_url data.delete_url_name value %}'" class="btn btn-danger">Delete</button>
                    {% endif %}
                </td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
{% endblock table_body %}
