{% extends "manager/parent.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <h2 class="text-center">Stores</h2>
      </div>
      <div class="row">
        {% include "manager/table.html" with data=store %}
      </div>
      <div class="row">
        {% include "manager/pagination.html" with page_data=store.page %}
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h2 class="text-center">Inventory</h2>
      </div>
      <div class="col">
        {% include "manager/table.html" with data=inventory %}
      </div>
      <div class="col">
        {% include "manager/pagination.html" %}
      </div>
    </div>
  </div>
  </container>
  {% endblock content %}