<nav aria-label="...">
  {% load custom_tags %}
  <ul class="pagination justify-content-center">
    {% if page_data.current_page > 1 and page_data.current_page <= page_data.pages|last %} <li class="page-item">
      <a class="page-link"
        href="{% d_url page_data.url_name  %}?table={{ page_data.table }}&page={{ page_data.current_page|add:'-1' }}">Previous</a>
      </li>
      {% endif %}
      {% for page in page_data.pages %}
      {% if page == page_data.current_page %}
      <li class="page-item active">
        <a class="page-link" href="{% d_url page_data.url_name  %}?table={{ page_data.table }}&page={{ page }}">
          {{ page }}
        </a>
      </li>
      {% else %}

      <li class="page-item">
        <a class="page-link" href="{% d_url page_data.url_name  %}?table={{ page_data.table }}&page={{ page }}">
          {{ page }}
        </a>
      </li>

      {% endif %}
      {% endfor %}
      {% if page_data.current_page >= 1 and page_data.current_page < page_data.pages|last %} <li class="page-item">
        <a class="page-link"
          href="{% d_url page_data.url_name  %}?table={{ page_data.table }}&page={{ page_data.current_page|add:1 }}">Next</a>
        </li>

        {% endif %}



  </ul>
</nav>