{% if data.rows %}
<table class="table border m-1">
    <thead class="table-dark">
        {% block table_head %}
        <tr>
            {% for head in data.headers %}
            <th scope="col">{{ head }}</th>
            {% endfor %}
        </tr>
        {% endblock table_head %}
    </thead>
    <tbody>
        {% block table_body %}
        {% for row in data.rows %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endblock table_body %}

    </tbody>
</table>
{% else %}
<div class="alert alert-info text-center" role="alert">
    <b>No Data found!</b>
</div>

{% endif %}